= form_for @decent_work_and_economic_growth do |f|
  - if @decent_work_and_economic_growth.errors.any?
    #error_explanation
      %h2= "#{pluralize(@decent_work_and_economic_growth.errors.count, "error")} prohibited this decent_work_and_economic_growth from being saved:"
      %ul
        - @decent_work_and_economic_growth.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
