= form_for @affordable_and_clean_energy do |f|
  - if @affordable_and_clean_energy.errors.any?
    #error_explanation
      %h2= "#{pluralize(@affordable_and_clean_energy.errors.count, "error")} prohibited this affordable_and_clean_energy from being saved:"
      %ul
        - @affordable_and_clean_energy.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
