= form_for @partnerships_for_the_goal do |f|
  - if @partnerships_for_the_goal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@partnerships_for_the_goal.errors.count, "error")} prohibited this partnerships_for_the_goal from being saved:"
      %ul
        - @partnerships_for_the_goal.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
