.container
  %img.login-icon{ :src => "/assets/login-img.jpg" }
  .input-area
    .new-user-title
      %h1{ style: 'color: rgb(255, 255, 255);' }= t('new.title')
    .user
      %img.login-user-img{ :src => '/assets/login_user_img.png' }
      .term{ style: 'color: rgb(255, 255, 255);' }= t('new.mail')
      %input.email#email{ type: 'email', placeholder: 'メールアドレス', required: true }
    %br
    .password-area{ style: 'margin-top: 22px;' }
      %img.login-key{ :src => '/assets/login_key.png'}
      .term{ style: 'color: rgb(255, 255, 255);' }= t('new.password')
      %input.password#password{ type: 'password', placeholder: 'パスワード', required: true }
    %br
    %button.login-btn#login{ style: 'display: none;' }= t('index.log_in')
    %button.new-user-btn#newuser{ style: 'margin-top: 50px;' }= t('new.registration')

:javascript
  // DomでHTMLを読み込む
  document.addEventListener("DOMContentLoaded", function(){
    // firebase追加
    const firebaseConfig = {
      apiKey: "AIzaSyAwJSbUCYG8IkyvLde6TulF8shJSunGIBQ",
      authDomain: "swimhikaru0719.firebaseapp.com",
      databaseURL: "https://swimhikaru0719.firebaseio.com",
      projectId: "swimhikaru0719",
      storageBucket: "",
      messagingSenderId: "644123931767",
      appId: "1:644123931767:web:9de4129a9e8ee834238272"
    };
    firebase.initializeApp(firebaseConfig);

    // 新規ユーザー追加機能
    const button = document.getElementById('newuser');
    button.addEventListener('click', function(e) {
    // メールアドレス・パスワードを取得
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;

    // 新規ユーザーを登録
    firebase.auth().createUserWithEmailAndPassword(email, password)
      .then(user => {
        newuser.onclick = function() {
          window.location.href = 'users'
        };
      }, err => {
        window.alert('必須項目です。')
      })
    });
  }, false);