= form_for @sustainable_cities_and_community do |f|
  - if @sustainable_cities_and_community.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sustainable_cities_and_community.errors.count, "error")} prohibited this sustainable_cities_and_community from being saved:"
      %ul
        - @sustainable_cities_and_community.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
