= form_for @quality_eduaction do |f|
  - if @quality_eduaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@quality_eduaction.errors.count, "error")} prohibited this quality_eduaction from being saved:"
      %ul
        - @quality_eduaction.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
