= form_for @life_below_water do |f|
  - if @life_below_water.errors.any?
    #error_explanation
      %h2= "#{pluralize(@life_below_water.errors.count, "error")} prohibited this life_below_water from being saved:"
      %ul
        - @life_below_water.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
