= form_for @peace_justice_and_strong_institution do |f|
  - if @peace_justice_and_strong_institution.errors.any?
    #error_explanation
      %h2= "#{pluralize(@peace_justice_and_strong_institution.errors.count, "error")} prohibited this peace_justice_and_strong_institution from being saved:"
      %ul
        - @peace_justice_and_strong_institution.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
